*{
    box-sizing: border-box;
}

body{
    margin:0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(139, 139, 136, 0.548);
}

.geral{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}


.geral a{
    margin: 10px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    transition: background-color .3s;
}

.geral a:hover{
    background-color: aquamarine;
}